
/*-----------------------------------------*/


/* .cardproduct {
    transition: 0.3s;
    width: 31%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
.cardproduct:hover {
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    display: block;
}

.cardproduct img{
    width:100%;
    height: 250px;
}

.itemCard{
    width: 100%;
    margin-top:5px;
    padding: 0px 0px;
    height: fit-content;
}

.item{
    width: 240px;
    margin: auto;
    height: 250px;
    overflow: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}



@media screen and (min-width: 320px) and (max-width: 576px) {


    .cardproduct {
        width:100%;
        margin-left: 0px;
        margin-right: 0px;
    }  

@media screen and (min-width: 577px) and (max-width: 786px) {
    .cardproduct {
        width:45%;
    }

} */


/*-----------------------------------------*/

.itemCard{
    width: 100%;
    margin-top:5px;
    height: fit-content;
}

.item{
    width: 80%;
    border: 2px solid black;
    margin: auto;
    height: 250px;
    overflow: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.itemImage{
    width: 250px;
    height: 100%;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.itemName{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: 280px;
}

.itemOverView{
    margin-left: 280px;
    margin-top: 20px;
    font-size: large;
}

.itemLocation{
    width: max-content;
    margin-left: 280px;
    margin-top: 30px;
}


@media screen and (min-width: 320px) and (max-width: 576px) {
    /* For mobile phones */

    .home-page{
        flex-direction: column;
        display: grid;
        row-gap: 5px;
        height: fit-content;
    }

    .heading{
        font-size: 35px;
        text-align: center;
    }

    .userinput{
        margin-left: auto;
        margin-right: auto;
        height: 35px;
        width: 90%;
        /* margin-top: 7px; */
        border-radius: 10px;
        border-color: black;
        box-sizing: border-box;
        padding-left: 16px;
        font-size: large;
        outline-color: silver;
        font-weight: 500;
    }

    .productTypeClass{
        width: 90%;
        height: 35px;
        border-radius: 7px;
        /* margin-top: 3px; */
        padding-left: 16px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: large;
        margin-left: auto;
        margin-right: auto;
    }

    .searchButton{
        width: 90%;
        margin: auto;
        /* margin-top: 3px; */
        font-weight: 600;
        font-size: 21px;
        background-color: #2364AA;
        color: white;
    }

    .loginClass{
        width: 90%;
        margin: auto;
        border: 1px solid black;
        height: fit-content;
        margin-top: 12px;
        border-radius: 7px;
        margin-bottom: 8px;
    }

    .userImage{
        position: relative;
        /* top: 2px; */
        left: 5px;
        height: 30px;
        width: 30px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .loginRegister{
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        left: 12px;
        font-weight: 600;
        box-sizing: border-box;
    }

    .itemCard{
        width: 92%;
        /* border: 2px solid black; */
        height: fit-content;
        margin: auto;
        margin-top: 5px;
    }

    /* .card{
        height: 100px;
        width: 90%;
        border: 1px solid blue;
        margin: auto;
        box-sizing: border-box;
        margin-top: 3px;
        margin-bottom: 3px;
    } */

    .item{
        width: 100%;
        border: 2px solid black;
        margin: auto;
        height: 400px;
        /* overflow: auto; */
        margin-top: 3px;
        margin-bottom: 3px;
        border-radius: 10px;
        cursor: pointer;
        /* overflow: hidden; */
    }
    
    .itemImage{
        width: 100%;
        height: 250px;
        /* float: left; */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .itemName{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: auto;
        margin-left: 8px;
    }
    
    .itemOverView{
        margin-left: 8px;
        margin-top: 20px;
        font-size: large;
    }
    
    .itemLocation{
        width: max-content;
        margin-left: 8px;
        margin-top: 30px;
    }
}